#grid{
    height: 100%;
    width: 100%;//50vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title{
        width: 100%;
        text-align: center;
    }

    &__buttons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    
        height: 70%;
        width: 75%;
    }

    &__restart{
        padding: 10px;
    }
}

@media screen and (min-width: 768px){
    #grid{
        &__title{
            font-size: 1.7em;
        }

        &__buttons{
            height: 90%;
        }
    }
}
